{{!< default-custom}}
{{#post}}
<div class="custom-wrap">
	{{#if feature_image}}
	<div class="custom-image global-bg-image" style="background-image: url({{feature_image}})"></div>
	{{/if}}
	<div class="custom-container">
		<div class="custom-logo">
			{{#if @site.logo}}
			<a class="is-image" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a>
			{{else}}
			<a class="is-title" href="{{@site.url}}">{{@site.title}}</a>
			{{/if}}
		</div>
		<div class="custom-content">
			<form data-members-form="signup" data-members-autoredirect="false">
				<h1>{{title}}</h1>
				<label for="name">{{t "Your name"}}</label>
				<input data-members-name id="name" type="text" required>
				<label for="signup">{{t "Your email address"}}</label>
				<input data-members-email id="signup" type="email" required>
				<button class="global-button" type="submit">{{t "Continue"}}</button>
				<small class="global-question">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></small>
				<div>
					<small class="alert-loading global-alert">{{t "Processing your application"}}</small>
					<small class="alert-error global-alert">{{t "There was an error sending the email"}}</small>
				</div>
			</form>
			<div class="alert-success">
				<h2>{{t "Great!"}}</h2>
				<p>{{t "Please check your inbox and click the link to confirm your signup"}}</p>
				<a href="{{@site.url}}" class="global-button">{{t "Back to homepage"}}</a>
			</div>
		</div>
	</div>
</div>
{{/post}}