{{!< default}}
{{#post}}
{{#if @member}}
<div class="account-section">
	<div class="account-info">
		<div class="account-image global-image">
			{{>icons/site/user}}
			{{#if @member.avatar_image}}
			<img src="{{@member.avatar_image}}">
			{{/if}}
		</div>
		<h1 class="account-title">{{#if @member.name}}{{@member.name}}{{else}}{{t "Your account"}}{{/if}}</h1>
		<p class="account-description global-zigzag">
			{{#if custom_excerpt}}
			{{>icons/site/zigzag}}
			{{custom_excerpt}}
			{{else}}
			{{>icons/site/zigzag}}
			{{t "You’ve an active account with access to posts for subscribers."}}
			{{/if}}
		</p>
	</div>
	<div class="account-details">
		<h2 class="account-details-title">{{t "Account details"}}</h2>
		<div class="account-details-wrap">
			<div class="account-detail-column">
				<div>
					<label class="account-detail-heading">{{t "Email address"}}</label>
					<span class="account-detail-content">{{@member.email}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="account-buttons">
		<a href="javascript:" class="account-button" data-portal="account">{{t "Account settings"}}</a>
	</div>
</div>
{{else}}
{{#contentFor "account_js"}}
<script>window.addEventListener("load",function(){window.location='{{@site.url}}'})</script>
{{/contentFor}}
{{/if}}
{{#contentFor "account_js"}}
<script>document.addEventListener("DOMContentLoaded",function(){const a=document.querySelector(".account a");a.classList.add("is-active")})</script>
{{/contentFor}}
{{/post}}