{{!< default-custom}}
{{#post}}
<div class="custom-wrap">
	{{#if feature_image}}
	<div class="custom-image global-bg-image" style="background-image: url({{feature_image}})"></div>
	{{/if}}
	<div class="custom-container">
		<div class="custom-logo">
			{{#if @site.logo}}
			<a class="is-image" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a>
			{{else}}
			<a class="is-title" href="{{@site.url}}">{{@site.title}}</a>
			{{/if}}
		</div>
		<div class="custom-content">
			<form method="POST" action="{{@custom.contact_form_endpoint}}">
				<h1>{{title}}</h1>
				<label for="name">{{t "Your name"}}</label>
				<input id="name" type="text" name="name" required>
				<label for="email">{{t "Your email address"}}</label>
				<input id="email" type="email" name="email" required>
				<label for="message">{{t "Your message"}}</label>
				<textarea id="message" name="message" required></textarea>
				<button class="global-button" type="submit">{{t "Send message"}}</button>
			</form>
		</div>
	</div>
</div>
{{/post}}