<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{/match}}{{#match @custom.color_scheme "Auto"}} class="auto-dark-mode"{{/match}}>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{@site.title}} — {{meta_title}}</title>
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>services/google_fonts}}
		<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
		{{ghost_head}}
	</head>
	<body class="custom-page">
		{{{body}}}
		{{ghost_foot}}
	</body>
</html>