{{!< default}}
{{#post}}
{{#if access}}
<progress class="post-progress"></progress>
{{/if}}
<article class="post-section">
	{{>post_header}}
	<div class="post-content">
		{{#if access}}
		{{content}}
		{{>post_share}}
		{{else}}
		{{#if html}}
		<div class="members-teaser">
			{{{html}}}
		</div>
		{{/if}}
		{{>members/cta}}
		{{/if}}
	</div>
</article>
{{>post_nextprev}}
{{#if access}}
<div class="comments-section">
	<div class="comments-wrap">
		{{#if @custom.disqus_shortname}}
		{{>services/disqus}}
		{{else if comments}}
		{{comments title=(t "Member discussion") mode="auto"}}
		{{/if}}
	</div>
</div>
{{>post_related}}
{{else}}
{{>members/post_public}}
{{/if}}
{{/post}}